
h1 {
    font-style: italic;
    text-align: center;
}

.favorite-website {color: lightseagreen;}


div.developer {
    width: 200px;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
  }

div.favorite-foods {
    width: 25%;
    border: 4px solid  greenyellow;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}



div.favorite-foods-pic{
    border: 7px solid plum;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    
}